<mat-toolbar class="primary-toolbar" color="primary">
  <a class="home-link" [routerLink]="['/home']">
      <mat-icon>
        home
      </mat-icon>
      <span class="header-text">
        Whats my Tokens?
      </span>
  </a>
</mat-toolbar>


<ng-container #mobileViewPort *ngIf="isMobileViewPort; else webViewPort">
  <mat-toolbar class="secondary-toolbar" color="accent">
    Try the app with the prefilled<br/>
  or use with any ETH address
  </mat-toolbar>
</ng-container>
<ng-template #webViewPort>
  <mat-toolbar class="secondary-toolbar" color="accent">
    Try the app with the prefilled address from Binance<br/>
    or check with any other Ethereum address
  </mat-toolbar>
</ng-template>
